mapboxApiAccessToken=...
mapboxAccessToken=...
MapboxAccessToken=...
MAPBOX_ACCESS_TOKEN=...
MapboxExportToken=...
DropboxClientId=...
CartoClientId=...
FoursquareClientId=...
FoursquareDomain=...
FoursquareAPIURL=...
FoursquareUserMapsURL=...
KEYCLOAK_URL=https://iam.example.com
KEYCLOAK_REALM=houndoc
KEYCLOAK_ID=my-keycloak-client
API_URL=https://example.com/bff
